main
  font-family: $primary-font-family

.main-page__number-display
  height: 300px
  width: 300px
  margin: auto
  margin-top: 200px
  border-radius: 50%
  padding-top: 20px
  padding-bottom: 20px
  +primary-box-shadow

.main-page__number-display__text
  font-size: 10em
  font-weight: 100
