<section class="main-page">

  <div class="container">

    <div class="main-page__top-section">
      <a class="btn-floating waves-effect waves-light btn-large refresh-page-button" ng-click="refreshPage()"><i class="material-icons">loop</i></a>
      <h4 class="main-page__heading__text">Speedometer</h4>
    </div>

    <div class="main-page__number-display center-align">
      <span class="main-page__number-display__text">{{ mainNumber }}</span>
    </div>

    <div class="main_page__countdown right center-align">
      <span class="main_page__countdown__title">Next Number</span>
      <div class="main_page__countdown__numbers">
        <div class="countdown-digit">{{ countdownNumberParts[0] }}</div>
        <div class="countdown-digit">{{ countdownNumberParts[1] }}</div>
      </div>
    </div>

    <div class="main-page__interval-setter center-align">
      <div class="main-page__interval-setter__center-box">
        <span class="interval-setter__title">Set Interval</span>
        <div class="interval-setter__middle-section">
          <span class="middle-section__every-word">Every</span>
          <div class="middle-section__interval-numbers">
            <div class="interval-number">{{ intervalNumberParts[0] }}</div>
            <div class="interval-number">{{ intervalNumberParts[1] }}</div>
          </div>
          <div class="middle-section__arrow-buttons">
            <a class="waves-effect waves-light increase-button" ng-click="increase()"><i class="material-icons arrow">play_arrow</i></a>
            <a class="waves-effect waves-light decrease-button" ng-click="decrease()"><i class="material-icons arrow">play_arrow</i></a>
          </div>
          <span class="middle-section__seconds-word">Seconds</span>
        </div>
        <div class="interval-setter__bottom-section">
          <a class="waves-effect waves-light btn start-timer-button" ng-click="startTimer()">Start</a>
          <a class="waves-effect waves-light btn stop-timer-button" ng-click="stopTimer()">Stop</a>
        </div>
      </div>
    </div>

  </div>

</section>
